<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>foodList</ion-title>
      <app-test></app-test>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-button expand="full" routerLink="/owner-dashboard">Dashboard</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" routerLink="/food-list">จัดการอาหาร</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" routerLink="/user-list">จัดการพนักงาน</ion-button>
    </ion-col>
  </ion-row>
  <ion-row padding>
    <ion-button routerLink="/owner-add-food">เพิ่มอาหาร</ion-button>
  </ion-row>

  <ion-card>
    <ion-row class="cardColor">
      <ion-col style="font-size: 25px;">รายชื่ออาหาร</ion-col>
    </ion-row>

    <ion-row class="colorW">
      <table>
        <tr>
          <td>รหัสอาหาร</td>
          <td>ชื่อ</td>
          <td>ต้นทุน</td>
          <td>ราคาขาย</td>
          <td>ดูข้อมูล/แก้ไข/ลบ</td>
        </tr>
        <tr *ngFor="let f of dataFood | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{f.foodId}}</td>
          <td>{{f.foodName}}</td>
          <td>{{f.foodCost}}</td>
          <td>{{f.foodPrice}}</td>
          <td>
            <ion-button color="light" (click)="gotoDetailFood(f.foodId)">ดู</ion-button>
            <ion-button color="warning" (click)="editDataFood(f.foodId)">แก้ไข</ion-button>
            <ion-button color="danger" (click)="deleteDataFood(f.foodId)">ลบ</ion-button>
          </td>

        </tr>
      </table>
    </ion-row>
  </ion-card>
  <ion-row class="center">
    <ion-col>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </ion-col>
  </ion-row>
</ion-content>