<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>cashierOrderDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row class="cardColor">
      <ion-col style="font-size: 25px;">โต๊ะที่ {{tableNumber}}</ion-col>
    </ion-row>
    <ion-row class="colorW">
      <table>
        <tr>
          <td style="width: 150px;">รายการ</td>
          <td>หมายเหตุ</td>
          <td>สถานะ</td>
          <td>จำนวน</td>
          <td>ราคา</td>
        </tr>

        <tr *ngFor="let o of foodorder;let i = index">
          <td>{{o.foodName}}</td>
          <td>
            <ion-input></ion-input>
          </td>
          <td>{{o.foodStatus}}</td>
          <td>{{o.foodAmount}}</td>
          <td>{{o.foodPriceTotal}}</td>
        </tr>

        <tr *ngIf="orderData != null;let i = index">
          <td colspan="4">ราคารวม</td>
          <td>{{totalMoneyOrderx}}</td>
        </tr>
      </table>
    </ion-row>
  </ion-card>

  <!-- <ion-row padding>
    <ion-col>
      <ion-select placeholder="เลือกการชำระเงิน" [(ngModel)]="orderStatusPayment">
        <ion-select-option value="เงินโอน">เงินโอน</ion-select-option>
        <ion-select-option value="เงินสด">เงินสด</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row> -->
<ion-row *ngIf="orderData != null">
  <ion-col>
    <ion-button expand="full" (click)="testModal(orderData.billId)">ชำระเงิน</ion-button>
  </ion-col>
</ion-row>
  <!-- <ion-row padding>
    <ion-col>
      <ion-button expand="full" (click)="Payment(orderData.orderId)">ชำระเงิน</ion-button>
    </ion-col>
  </ion-row> -->

</ion-content>