.cardSize {
  text-align: center;
  height: 150px;
  font-size: 25px;
}

.margin {
  margin-top: 25px;
}

.cardCost{
    text-align: center;
    background-color: rgb(102, 212, 255);
    color: white;
    padding: 2px;
 
}

.cardRecive{
  text-align: center;
  background-color: rgb(255, 102, 161);
  color: white;
  padding: 2px;

}

.cardProfit{
  text-align: center;
  background-color: rgb(181, 102, 255);
  color: white;
  padding: 2px;

}

.cardDiscount{
  text-align: center;
  color: white;
  background: rgb(228, 126, 92);
}




