<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>ownerDashboard</ion-title>
      <app-test></app-test>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button expand="full" routerLink="/owner-dashboard">Dashboard</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" routerLink="/food-list">จัดการอาหาร</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" routerLink="/user-list">จัดการพนักงาน</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="danger" expand="full" (click)="alertClear()">ปิดร้าน</ion-button>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-row class="cardColor">
      <ion-col style="font-size: 25px;">สรุปยอดรายวัน</ion-col>
    </ion-row>
    <ion-row class="colorW">
      <ion-col>
        <ion-datetime displayFormat="D" placeholder="วันที่" [(ngModel)]="day"></ion-datetime>
      </ion-col>
      <ion-col>
        <ion-datetime displayFormat="MMMM" placeholder="เดือน" [(ngModel)]="month"></ion-datetime>
      </ion-col>
      <ion-col>
        <ion-button (click)="filterDataSummaryDate(day,month)">ค้นหา</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="colorW">
      <ion-col>
        <ion-card class="cardSize">
          <ion-row class="cardCost">
            <ion-col>
              ต้นทุน
            </ion-col>
          </ion-row>
          <ion-row class="margin">
            <ion-col>
              {{foodCost}} บาท
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="cardSize">
          <ion-row class="cardDiscount">
            <ion-col>
              ส่วนลด
            </ion-col>
          </ion-row>
          <ion-row class="margin">
            <ion-col>
              {{discount}} บาท
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="cardSize">
          <ion-row class="cardRecive">
            <ion-col>
              ขายได้
            </ion-col>
          </ion-row>
          <ion-row class="margin">
            <ion-col>
              {{foodPriceTotal}} บาท
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="cardSize">
          <ion-row class="cardProfit">
            <ion-col>
              กำไร
            </ion-col>
          </ion-row>
          <ion-row class="margin">
            <ion-col>
              {{foodProfit}} บาท
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- 
    <ion-card style="font-size: 20px;">
      <ion-row class="headcontent">
        5 อันดับเมนูขายดี
      </ion-row>
      <ion-col>
        ผัดเผ็ดหมูป่า<br>
        กระเพาหมูกรอบ<br>
        ข้าวผัด<br>
        อะไรดี<br>
        วะ<br>
      </ion-col>
    </ion-card> -->

  </ion-card>



</ion-content>