<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>owner-date-bill-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="colorW">
    <h2 class="center">วันที่ : </h2>
  <table>
    <tr>
      <td>รหัสOrder</td>
      <td>โต๊ะ</td>
      <td>พนักงาน</td>
      <td>เวลา</td>
      <td>จำนวนเงิน</td>
    </tr>
    <tr>
      <td>O0001</td>
      <td>A1</td>
      <td>นายแดง</td>
      <td>10.30</td>
      <td>280</td>
    </tr>
    <tr>
      <td>O0002</td>
      <td>A2</td>
      <td>นายดำ</td>
      <td>11.50</td>
      <td>500</td>
    </tr>
    <tr>
      <td colspan="4" style="text-align: left;">รวมเป็นเงิน</td>
      <td>780</td>
 
    </tr>
  </table>
</ion-card>
</ion-content>
