<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>orderDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row color="primary" justify-content-center style="margin-top: center;">
    <ion-col  size-md="8" size-lg="5" size-xs="12">
      <ion-card padding class="colorW">
        <ion-row>
          <ion-col>รหัสOrder :</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>โต๊ะที่ :</ion-col>
        </ion-row>
        <table>
          <tr>
            <td style="width: 150px;">รายการ</td>
            <td>หมายเหตุ</td>
            <td>จำนวน</td>
            <td>ราคา</td>
          </tr>

          <tr *ngFor="let o of foodorder">
            <td>{{o.foodName}}</td>
            <td >
              <ion-input></ion-input>
            </td>
            <td>{{o.foodAmount}}</td>
            <td>{{o.foodPrice}}</td>
          </tr>
          
          <tr>
            <td colspan="3">ราคารวม</td>
            <td>280</td>
          </tr>
        </table>
        <ion-button class="center">ส่งอาหาร</ion-button>
      </ion-card>

    </ion-col>

  </ion-row>
</ion-content>