<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>orderDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row color="primary" justify-content-center style="margin-top: center;">
    <ion-col size-md="8" size-lg="5" size-xs="12">
      <ion-card>
        <ion-row class="cardColor">
          <ion-col>โต๊ะที่ {{tableNumber}}</ion-col>
        </ion-row>
        <ion-row class="colorW">
          <table>
            <tr>
              <td style="width: 150px;">รายการ</td>
              <td>หมายเหตุ</td>
              <td>สถานะ</td>
              <td>จำนวน</td>
              <td>ราคา</td>
            </tr>

            <tr *ngFor="let o of foodorder;let i = index">
              <td>{{o.foodName}}</td>
              <td>
                <ion-input></ion-input>
              </td>
              <td>{{o.foodStatus}}</td>
              <td>{{o.foodAmount}}</td>
              <td>{{o.foodPriceTotal}}</td>
            </tr>

            <tr *ngIf="orderData != null;let i = index">
              <td colspan="4">ราคารวม</td>
              <td >{{totalMoneyOrderx}}</td>
            </tr>
          </table>
        </ion-row>
      </ion-card>

    </ion-col>

  </ion-row>
</ion-content>