<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>userList</ion-title>
      <app-test></app-test>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button expand="full" routerLink="/owner-dashboard">Dashboard</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" routerLink="/food-list">จัดการอาหาร</ion-button>

    </ion-col>
    <ion-col>
      <ion-button expand="full" routerLink="/user-list">จัดการพนักงาน</ion-button>

    </ion-col>
  </ion-row>

  <ion-row padding>
    <ion-button routerLink="/owner-add-user">เพิ่มพนักงาน</ion-button>
  </ion-row>
  <ion-card>

    <ion-row class="cardColor">
      <ion-col style="font-size: 25px;">รายชื่อพนักงาน</ion-col>
    </ion-row>

    <ion-row class="colorW">
      <table>
        <tr>
          <td>รหัสพนักงาน</td>
          <td>ชื่อ</td>
          <td>ตำแหน่ง</td>
          <td>ดูข้อมูล/แก้ไข/ลบ</td>
        </tr>
        <tr *ngFor="let u of dataUser | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{u.userId}}</td>
          <td>{{u.userName}}</td>
          <td>{{u.userType}}</td>
          <td>
            <ion-button color="light" (click)="gotoDetailUser(u.userId)">ดู</ion-button>
            <ion-button color="warning" (click)="gotoEditUser(u.userId)">แก้ไข</ion-button>
            <ion-button color="danger" (click)="deleteDataUser(u.userId)">ลบ</ion-button>
          </td>

        </tr>

      </table>
    </ion-row>
  </ion-card>
  <ion-row class="center">
    <ion-col>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </ion-col>
  </ion-row>
</ion-content>