table {
  width: 100%;
}

td,
th {
  text-align: center;
  padding: 8px;
}

.btnSize{
  width: 5px;
  height: 25px;
}

.inputSize{
  width: 20px;
  height: 10px;
}

.cardSize{
  height: 100px;
  width: 75px;
}
