table {
  width: 100%;
}

td,
th {
  text-align: center;
  padding: 8px;
}

.btnSize1{
  width: 20px;
  height: 20px;
  align-items: center;
}

.inputSize{
  width: 5px;
  height: 5px;
  align-items: flex-end;
}

.cardSize{
  height: 100px;
  width: 75px;
}


