<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>cashierOrderTable</ion-title>
      <app-test></app-test>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-row class="cardColor">
          <ion-col style="font-size: 25px;">ค้างชำระ</ion-col>
        </ion-row>

        <ion-row class="colorW">
          <ion-col size="3" *ngFor="let o of listDataOrder">
            <ion-card>
              <ion-row class="cardTable">
                <ion-col style="font-size: 25px;">{{o.tableNumber}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center>
                  <ion-button color="light" (click)="gotoDetailBill(o.orderId)">ดูข้อมูล</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center>
                  <ion-button color="success" (click)="gotoDetailOrder(o.orderId)">ชำระเงิน</ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- <ion-row>
    <ion-col>
      <ion-card>
        <ion-row class="cardColor">
          <ion-col style="font-size: 25px;">ชำระเงินแล้ว</ion-col>
          
        </ion-row>

        <ion-row class="colorW">
          <ion-col size="3" *ngFor="let o of listDataOrder">
            <ion-card>
              <ion-row class="cardTable">
                <ion-col style="font-size: 25px;">{{o.tableNumber}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center>
                  <ion-button color="light" (click)="gotoDetailBill(o.orderId)">ดูข้อมูล</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center>
                  <ion-button color="success" (click)="gotoDetailOrder(o.orderId)">ชำระเงิน</ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row> -->


</ion-content>