<ion-header>
  <ion-toolbar>
    <ion-title>cashierOrderTable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="2" class="colorW">
      <div>
        <ion-label>{{stLogin}}</ion-label>
      </div>
      <div>
        <ion-button expand="full" routerLink="/cashier-order-table">ตาราง Order</ion-button>
      </div>
      <div>
        <ion-button expand="full" routerLink="/cashier-money-table">เก็บงิน</ion-button>
      </div>
      <div>
        <app-test></app-test>
      </div>
   

    </ion-col>
    <ion-col size="10">
      <div>
        <ion-card class="colorW">
          <h2 class="center">ตาราง Order</h2>
          <table>
            <tr>
              <td>รหัส Order</td>
              <td>โต๊ะที่</td>
              <td>จำนวนคน</td>
              <td>วันที่</td>
              <td>ดู</td>
              <td>ส่ง</td>
            </tr>
            <tr *ngFor="let o of listDataOrder">
              <td>{{o.orderId}}</td>
              <td>{{o.tableNumber}}</td>
              <td>{{o.amountCustomer}}</td>
              <td>{{o.orderDate | date:"dd/mm/yy"}}</td>
              <td>
                <ion-button (click)="gotoDetailOrder()">ดู</ion-button>
              </td>
              <td>
                <ion-button (click)="gotoBillDetail()">ส่ง Order</ion-button>
              </td>
            </tr>
          </table>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>


</ion-content>