<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>แก้ไขออเดอร์</ion-title>
  
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button color="success" shape="round" fill="outline" (click)="getDataFoodFilter()">ทั้งหมด</ion-button>
      <ion-button color="success" shape="round" fill="outline" (click)="foodFilter()">อาหาร</ion-button>
      <ion-button color="success" shape="round" fill="outline" (click)="drinkFilter()">น้ำ</ion-button>
      <ion-button color="success" shape="round" fill="outline">อื่นๆ</ion-button>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="8" class="center">

      <ion-row class="cardColor">
        <ion-col style="font-size: 25px;">เมนูอาหาร</ion-col>
      </ion-row>
      <div class="colorW">
        <ion-row>
          <ion-col *ngFor="let m of dataMenu" size="4">
            <ion-card (click)="editFoodToOrderList(m)">
              <img src="/assets/p1.jfif" alt="Italian Trulli">
              <ion-card-content>
                {{m.foodName}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
    <ion-col size="4">

      <ion-row class="cardColor">
        <ion-col style="font-size: 25px;">แก้ไขโต๊ะ : {{table}}</ion-col>
      </ion-row>
      <div class="colorW">
        <ion-row text-center>
          <ion-col>รายการ</ion-col>
          <ion-col>จำนวน</ion-col>
          <ion-col>ราคา</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item-sliding *ngFor="let o of listDataOrder;let i = index">
                <ion-item lines="none" text-center>
                  <ion-col>{{o.foodName}}</ion-col>

                  <ion-col style="text-align: right;">
                    <ion-button class="btnSize1" fill="outline" (click)="minus(i)" disabled>-</ion-button>
                  </ion-col>

                  <ion-col>
                    <ion-input min="1" type="number" [(ngModel)]="o.foodAmount" disabled></ion-input>
                  </ion-col>

                  <ion-col style="text-align: left;">
                    <ion-button class="btnSize1" fill="outline" (click)="add(i)" disabled>+</ion-button>
                  </ion-col>
                  <ion-col>
                    {{o.foodPriceTotal}}
                  </ion-col>
                </ion-item>
                <ion-item-options side="end" *ngIf ="o.foodStatus == 'เสริฟแล้ว'">
                  <ion-item-option color="danger" (click)="cancelMenuInOrder(o.foodNumber)" disabled>ยกเลิก</ion-item-option>
                </ion-item-options>
                <ion-item-options side="end" *ngIf ="o.foodStatus != 'เสริฟแล้ว'">
                  <ion-item-option color="danger" (click)="cancelMenuInOrder(o.foodNumber)">ยกเลิก</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item-sliding *ngFor="let a of dataEditOrderfood2; let x = index">
                <ion-item lines="none" text-center>
                  <ion-col>{{a.foodName}}</ion-col>

                  <ion-col style="text-align: right;">
                    <ion-button class="btnSize1" fill="outline" (click)="minus(x)" >-</ion-button>
                  </ion-col>

                  <ion-col>
                    <ion-input min="1" type="number" [(ngModel)]="a.foodAmount" ></ion-input>
                  </ion-col>

                  <ion-col style="text-align: left;">
                    <ion-button class="btnSize1" fill="outline" (click)="add(x)" >+</ion-button>
                  </ion-col>
                  <ion-col>
                    {{a.foodPriceTotal}}
                  </ion-col>
                </ion-item>
                <ion-item-options side="end" >
                  <ion-item-option color="danger" (click)="cancelMenuInOrder(a.foodNumber)" >ยกเลิก</ion-item-option>
                </ion-item-options>
    
              </ion-item-sliding>
            </ion-list>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
            รวม
          </ion-col>
          <ion-col>
            {{totalMoneyOrder}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngIf="btnStatus == 1">
              <ion-button expand="full" class="center" (click)="orderPriceFood()">แก้ไข/รวมเงิน</ion-button>
            </div>
            <div *ngIf="btnStatus == 2">
              <ion-button expand="full" color="success" class="center" (click)="editDataOrder()">ส่งอาหาร</ion-button>
            </div>
       
          </ion-col>
          <ion-col>
            <div> <ion-button expand="full" class="center" [routerLink]="['/cashier-order-table']">ย้อนกลับ</ion-button></div>
          </ion-col>
        </ion-row>
      </div>

    </ion-col>


  </ion-row>

</ion-content>