<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>cookOrderDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card >
    <ion-row class="cardColor">
      <ion-col style="font-size: 25px;">โต๊ะที่ : {{table}}</ion-col>
    </ion-row>
    <ion-row class="colorW">
      <table>
        <tr>
          <td>รายการ</td>
          <td>หมายเหตุ</td>
          <td>จำนวน</td>
          <td>เสริฟ</td>
          <td>สถานะ</td>
        </tr>
        <tr *ngFor="let o of orderCook">
          <td>{{o.foodName}}</td>
          <td></td>
          <td>{{o.foodAmount}}</td>
          <td>
            <ion-button (click)="cookSendFood(o)">เสริฟ</ion-button>
          </td>
          <td style="color: red;">{{o.foodStatus}}</td>
        </tr>
      </table>
    </ion-row>
  </ion-card>
</ion-content>