<ion-header>
  <ion-toolbar>
    <ion-title>cashierMoneyTable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row padding>
    <ion-col>
      <ion-button expand="full" routerLink="/cashier-order-table">รายการออเดอร์</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" routerLink="/cashier-money-table">เก็บงิน</ion-button>
    </ion-col>
    <ion-col>
      <app-test></app-test>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-row class="cardColor">
      <ion-col style="font-size: 25px;">รายการเก็บเงิน</ion-col>
    </ion-row>
    <ion-row class="colorW">
      <table>
        <tr>
          <td>รหัส Order</td>
          <td>โต๊ะที่</td>
          <td>จำนวนคน</td>
          <td>สถานะบิล</td>
          <td>สถานะออเดอร์</td>
          <td>ชำระเงิน</td>

        </tr>
        <tr *ngFor="let o of dataOrder">
          <td>{{o.orderId}}</td>
          <td>{{o.tableNumber}}</td>
          <td>{{o.amountCustomer}}</td>
          <td>{{o.orderStatus}}</td>
          <td>{{o.orderStatusFood}}</td>
          <td>
            <ion-button color="secondary" (click)="getDataOrderById()">ชำระเงิน</ion-button>
          </td>
        </tr>

      </table>
    </ion-row>
  </ion-card>

</ion-content>