<ion-header>
  <ion-row>
    <ion-col style="font-size: 30px;">บาร์น้ำ</ion-col>
    <ion-col style="text-align: right;">
      <app-logout></app-logout>
    </ion-col>
  </ion-row>

</ion-header>

<ion-content padding>

  <ion-card>
    <ion-row class="cardColor">
      <ion-col style="font-size: 25px;">บาร์น้ำ</ion-col>
    </ion-row>
    <ion-row class="colorW">
      <table>
        <tr>
          <td>โต๊ะที่</td>
          <td>จำนวนคน</td>
          <td>สถานะ</td>
          <td>ดูข้อมูล</td>
        </tr>
        <tr *ngFor="let o of dataOrder">
          <td>{{o.tableNumber}}</td>
          <td>{{o.amountCustomer}}</td>
          <td style="color: red;">{{o.orderStatusFood}}</td>
          <td>
            <ion-button (click)="gotoDetailOrder(o.billId)">ดู</ion-button>
          </td>
        </tr>
      </table>
    </ion-row>
  </ion-card>
</ion-content>