table {
  width: 100%;
}

td,
tr {
  text-align: center;
  padding: 8px;
  font-size: 15px;
}

.cardColor{
  text-align: center;
  background-color: lightseagreen;
  color: white;
  padding: 2px;
  
}

